<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" media="screen" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="src/css/stylesheet.css">
	<link rel="stylesheet" href="src/css/results.css">
	<link rel="stylesheet" href="src/css/formulaire.css">

</head>

<body>










	<div id="app">
		<div class="container">

			<h2>Panaché Films</h2>


			<div class="formulaire">
				<form action="" method="POST" role="form">
					<h3>Recherche un film </h3>


					<div class="form-group">
						<label for="input-keyword">Mot clés</label>
						<input required type="text" class="form-control" id="input-keyword" placeholder="mot-cles" v-on:keydown="search();showResults()">
					</div>

					<div class="form-group">
						<p>Genre</p>
						<input type="radio" name="radio-type" id="film" value="movie" v-on:click="search();showResults()">
						<label for="film">Movies</label>

						<input type="radio" name="radio-type" id="serie" value="series" v-on:click="search();showResults()">
						<label for="serie">Series</label>


						<input type="radio" name="radio-type" id="episode" value="episode" v-on:click="search();showResults()">
						<label for="episode">Episodes</label>

						<input type="radio" name="radio-type" id="all" value="default">
						<label for="all">All</label>

					</div>

					<div class="form-group">
						<label for="region">Année du Film :</label><br />
						<select class="form-control" id="year-form" name="year-form">
								<option value="default" selected>Choisissez une année</option>
						</select>
					</div>

					<button type="button" v-on:click="search();showResults();saveKeywords();showLastResults()" class="btn btn-primary">Rechercher</button>

				</form>
				<div class="last-keywords">
					<ul>
						<li v-for="item of lastKeywordItem"><a v-on:click="newResults(item.queryURL)">{{item.searchedKeyword}} - {{item.queryURL}}</a></li>
					</ul>
				</div>
			</div>
			<!-- RESULTATS RECHERCHE -->
			<!-- FICHE FILM -->
			<div class="flush grid">
				<div class="movie-sheet grid-item" v-for="item in movieItem">
					<img v-if="item.Poster != 'N/A'" class="img-responsive" :src="item.Poster">
					<img v-if="item.Poster === 'N/A'" class="img-responsive" src="http://placehold.it/300x400">
					<h3 class="panel-title">{{item.Title}}</h3>
					<span>{{item.Year}} - {{ item.Type }}</span><br>
					<a id="imdbLink" href="http://www.imdb.com/title/">IMDb ID : {{item.imdbID}}</a>
				</div>
			</div>
			<!-- /FICHE FILM -->
			<!-- / RESULTATS RECHERCHE -->
		</div>
	</div>



	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="src/js/masonry.pkgd.min.js"></script>
	<script src="src/js/template.js"></script>
	<script src="https://unpkg.com/vue@2.2.6 "></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="src/js/main.js"></script>
	<script src="src/js/formulaire.js"></script>
</body>

</html>