.movie-sheet {
	text-align: center;
	-moz-box-shadow: -5px 5px 5px 0px #656565;
	-webkit-box-shadow: -5px 5px 5px 0px #656565;
	-o-box-shadow: -5px 5px 5px 0px #656565;
	box-shadow: -5px 5px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=224, Strength=5);
}

.movie-sheet img {
	margin: 10px 0;
}

.movie-sheet h3 {
	font-size:24px;
}